{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-add-import-extension", { "extension": "cjs" },
    ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "./lib/loading/default/*": "./lib/loading/cj/*"
      }}]
  ]
}
